* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  --light: #c19de4;
  --middle: #663399;
  --dark: #260d3d;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
}

.container {
  margin: 0 auto;
  width: 90vw;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}


/***********************
MAIN
***********************/
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  overflow: hidden;  
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}


/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: #fff;
}

.footer-github {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.footer-github:hover {
  color: var(--light);
}

.footer-logo {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.footer-logo:hover {
  color: var(--light);
}
